*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior:smooth ;
}

/* navbar*/

.container{
    padding: 5px 2%;
    /* scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh; */
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* scroll-snap-align: start; */
}

.logo{
    width: 50px;
}

nav ul li{
     display: inline-block;  /*align horizontally all  */
     list-style: none;
     margin: 15px 20px; /* gap b/w list items*/
}

nav ul li a{
    color: #1c1ca1 ;
    text-decoration: none;
    font-size: 16px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(4, 4, 4);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.slider{
    width: 100%;
    height: 700px;
    overflow: hidden;
}

figure{
    position: relative;
    left: 0;
    width: 400%; /* width dikali slide */
    animation: 10s slide infinite;
}

.slide{
    position: relative;
    width: 25%; /* width dibagi slide */
    float: left;
}

.slide h1{
    position: absolute;
    font-size: 3em;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    color: rgb(0, 217, 255);
    text-shadow: 1px 1px 2px rgba(249, 0, 253, 0.5);
}

.slide img{
    width: 100%;
    height: 700px;
}

nav .fa{
    display: none;
}


/* portfolio*/
#portfolio{
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #000000);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer p{
    color: beige;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    color: beige;
}

.layer a{
    margin-top: 20px;
    color: #010101;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #605f5f;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid black;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #000000;
    transition: background 0.5s;
}
.btn:hover{
    background: #747070;
}

/* sliding images*/
@keyframes slide{
    0%{
        left:0;
    }
    10%{
        left:0;
    }
    20%{
        left:-100%;
    }
    30%{
        left:-100%;
    }
    40%{
        left:-200%;
    }
    50%{
        left:-200%;
    }
    55%{
        left:-300%;
    }
    65%{
        left:-300%;
    }
    66%{
        left:-200%;
    }
    74%{
        left:-200%;
    }
    75%{
        left:-100%;
    }
    85%{
        left:-100%;
    }
    90%{
        left:0;
    }
    1000%{
        left:0;
    }
}

@media only screen and (max-width: 600px) {
    nav .fa{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background:#ffffff;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .subtitle{
        font-size: 40px;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    
}

